@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
  font-size: 0.5rem;
  color: #252542; 
}
ul{
  list-style: none;
  display: flex;
  gap: 2rem;
}
p{
  margin: 0.4rem;
}

/*header*/
.nav_logo{
  width: 3rem;
  height: auto;
}
.my_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 100%;
  top:0;
  backdrop-filter: blur(20px);
  border-bottom: 2px solid black;
}
.nav_toggle-btn{
  display: none;
}
/*.................*/

/*footer*/
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  height: 100%;
  border-top: 2px solid black;
  padding-top: 1rem;
}
.footer_categories a{
  background-color: rgba(121, 40, 40, 0.664);
  padding: 0.3rem;
  border-radius: 4px;
}
.footer_copyright{
  margin-top:1rem;
  border-top: 1px solid black;
}
/*.................*/

/*error page*/
.error-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  align-items: center;
  margin-top: 30%;
}
.error-button{
  background-color: red;
  padding: 0.8rem;
  border: 0.5px solid black;
  border-radius: 10px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bolder;
}
.error-button:hover{
  padding: 0.9rem;
}
.error-message{
  font-size: xx-large;
}
/*.................*/

/*home page- posts cards */
.posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 1rem;
}
.post{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
  gap: 1rem;
  border-radius: 10%;
}
.post_thumbnail{
  width: 200px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.post_author-avatar{
  height: 40px;
  width: 40px;
  overflow: hidden;
  display: inline-block;
}
.post_author{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post_footer{
  display: flex;
  align-items: center;
  gap: 30%
}
.post_button{
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: black;
  color:aliceblue;
}
.post_button:hover{
  background-color: aliceblue;
  border: 1px solid black;
  color: black;
}
/*.................*/

/*post detail of individual blog*/
.post-detail{
  margin-top: 3rem;
}
.post-detail_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-post{
  margin-right: 3rem;
  padding: 0.5rem;
  background-color: rgb(116, 52, 245);
  border-radius: 10px;
  font-size: 15px;
}
.btn-post:hover{
  padding: 0.6rem;
}
.post_heading{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post_heading h1{
  font-size: x-large;
}
/*.................*/

/*register*/
.register{
  margin: 3rem;
}
.register_form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
.register_form input{
  text-indent: 5px;
  padding: 0.3rem;
}
.register_form button{
  padding: 0.3rem;
  background-color: red;
  margin-bottom: 1rem;
}